name: Build and Publish Docker

# run only inputs, get version like 0.0.0 (must validate to semver)
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (must be semver)'
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # clear if version v0.0.0 to 0.0.0
      - name: Clear version prefix
        run: echo "VERSION=${{ github.event.inputs.version#v }}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/btungut/lexis-api:${{ env.VERSION }}
          file: ./Dockerfile
