name: Build and Publish Docker

on:
  push:
    branches:
      - disabled-for-push-no-one-can-enable
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to publish (must be semver)'
        required: true
        type: string

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      # clear if version v0.0.0 to 0.0.0
      - name: Clear version prefix
        id: prepare_task
        run: |
          VERSION="${{ github.event.inputs.version }}"

          if [ -z "$VERSION" ]; then
            error "Version is required"
            exit 1
          fi

          VERSION="${VERSION#v}"
          echo "Prepared version: $VERSION"

          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "version=$VERSION"

      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ghcr.io/btungut/lexis-api:${{ steps.prepare_task.outputs.version }}
          file: ./Dockerfile
